COMPOSE_FILE=docker-compose.yaml:docker-compose.prod.yml
DOCKER_PROFILES=prod
TRANSACTION_SERVICE_URI=http://transaction-service:8280
REPORT_SERVICE_URI=http://report-service:8380
KEYCLOAK_SERVICE_URI=http://keycloak:8080
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=changeme
