COMPOSE_FILE=docker-compose.yml:docker-compose.prod.yml

DB_URL=jdbc:mariadb://mariadb:3306/jobtracker
DB_NAME=jobtracker
DB_USERNAME=jobtracker
DB_PASSWORD=sua_senha_forte_aqui

CORS_ALLOWED_ORIGINS=

JWT_SECRET=seu_segredo_jwt_super_seguro
JWT_ACCESS_TOKEN_EXPIRATION_MS=900000
JWT_REFRESH_TOKEN_EXPIRATION_MS=604800000
