DB_URL=jdbc:postgresql://localhost:5432/report_service_db
DB_NAME=report_service_db
DB_USERNAME=report_service_user
DB_PASSWORD=sua_senha_forte_aqui

CORS_ALLOWED_ORIGINS=

JWT_SECRET=seu_segredo_jwt_super_seguro
JWT_ACCESS_TOKEN_EXPIRATION_MS=900000
JWT_REFRESH_TOKEN_EXPIRATION_MS=604800000
