CORS_ALLOWED_ORIGINS=

KEYCLOAK_REALM=finance-tracker-realm
KEYCLOAK_PUBLIC_URL=http://localhost:8180
KEYCLOAK_ISSUER_URI=http://localhost:8180/realms/finance-tracker-realm
# Where JWKS is fetched. On the host this is the same as the issuer; inside Docker it
# is overridden to http://keycloak:8080/... so services reach Keycloak internally.
KEYCLOAK_JWK_SET_URI=http://localhost:8180/realms/finance-tracker-realm/protocol/openid-connect/certs
KEYCLOAK_SWAGGER_CLIENT_ID=gateway-swagger
