CORS_ALLOWED_ORIGINS=

KEYCLOAK_REALM=finance-tracker-realm
KEYCLOAK_PUBLIC_URL=http://localhost:8180
KEYCLOAK_ISSUER_URI=http://localhost:8180/realms/finance-tracker-realm
KEYCLOAK_SWAGGER_CLIENT_ID=gateway-swagger
